<link rel="stylesheet" href="{$wa_app_static_url}plugins/updateproducts/css/jquery.fileupload.css">
<link rel="stylesheet" href="{$wa_app_static_url}plugins/updateproducts/css/bootstrap.min.css">
<script src="{$wa_app_static_url}plugins/updateproducts/js/vendor/jquery.ui.widget.js"></script>
<script src="{$wa_app_static_url}plugins/updateproducts/js/jquery.iframe-transport.js"></script>
<script src="{$wa_app_static_url}plugins/updateproducts/js/jquery.fileupload.js"></script>

<link rel="stylesheet" href="{$wa_app_static_url}plugins/updateproducts/css/style.css">

<script>
    try {
        var templates = $.parseJSON('{$settings.templates}');
    } catch (e) {
        alert(e.name);
    }
</script>
<script src="{$wa_app_static_url}plugins/updateproducts/js/updateproducts.js"></script>



<div class="block double-padded" style="padding-bottom: 10px;">
    <h1>Обновление товаров</h1>
    <p>Обновление товаров по прайс-листу</p>


    <div id="s-updateproducts-form">
        <form action="?plugin=updateproducts&action=upload" method="post" id="plugins-settings-form" enctype="multipart/form-data">
            {$wa->csrf()}
            <div class="field">
                <div class="name">
                    Номер листа
                </div>
                <div class="value">
                    <input type="text" name="shop_updateproducts[list_num]" value="{$settings.list_num|escape}" /> 
                    <p class="hint">Порядковый номер листа в документе EXCEL</p>           
                </div>
            </div>

            <div class="field">
                <div class="name">
                    Номер строки, с которой начинается загрузка
                </div>
                <div class="value">
                    <input type="text" name="shop_updateproducts[row_num]" value="{$settings.row_num|escape}" />            
                </div>
            </div>

            <div class="field">
                <div class="name">
                    Количество обрабатываемых строк
                </div>
                <div class="value">
                    <input type="text" name="shop_updateproducts[row_count]" value="{$settings.row_count|escape}" />            
                </div>
            </div>


            <div class="field">
                <div class="name">
                    Данные из прайс листа
                </div>
                <div class="value">
                    <table id="price-data" class="zebra">
                        <tbody><tr class="header">
                                <th>
                                    <b>Характеристика</b><br>Название характеристики товара
                                </th>
                                <th>
                                    <b>Номер столбца,</b><br>в котором содержится характеристика
                                </th>
                                <th>
                                    <b>Обновление</b><br>Данная характеристика будет обновлена
                                </th>
                                <th>
                                    <b>Ключ</b><br>Поле является ключем для поиска SKU-товаров
                                </th>
                            </tr>
                        </tbody>
                        {foreach $data_columns as $key => $column}
                        <tr>
                            <td>
                                {$column.name}
                            </td>
                            <td class="align-center">
                                <input type="text" class="short" name="shop_updateproducts[columns_{$key}]" value="" />   
                            </td>
                            <td class="align-center">
                                {if $column.update}
                                <input type="checkbox" name="shop_updateproducts[update_{$key}]" value="1" />
                                {/if}
                            </td>
                            <td class="align-center">
                                {if $column.key}
                                <input type="checkbox" name="shop_updateproducts[keys_{$key}]" value="1" />
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                    </table>


                </div>
            </div>



            <div class="field">
                <div class="name">
                    Тип товаров
                </div>
                <div class="value">
                    {foreach $product_types as $key => $product_type}
                    <div><i class="icon16 {$product_type.icon}"></i><input type="checkbox" name="shop_updateproducts[types_{$key}]" value="1" /> - {$product_type.name}</div>
                    {/foreach}          
                </div>
            </div>



            <div class="field">
                <div class="name">
                    Склад
                </div>
                <div class="value">
                    <select name="shop_updateproducts[stock_id]">
                        <option {if $settings.stock_id=='0'}selected=""{/if}  value="0">По умолчанию</option>
                        {foreach from=$stocks item=stock}
                        <option {if $settings.stock_id==$stock.id}selected=""{/if} value="{$stock.id}">{$stock.name}</option>
                        {/foreach}
                    </select>           
                </div>
            </div>

            <div class="field">
                <div class="name">
                    Скрывать товары
                </div>
                <div class="value">
                    <select name="shop_updateproducts[set_product_status]">
                        <option {if $settings.set_product_status=='0'}selected=""{/if}  value="0">Нет</option>
                        <option {if $settings.set_product_status=='1'}selected=""{/if}  value="1">Да</option>             
                    </select>  
                    <p class="hint">При загрузке прайс-листа плагин установит для всех товаров стутус "Скрытый", а для товаров из прайс-листа с ненулевым остатком "Опубликован"</p>
                </div>
            </div>


            <div class="field">
                <div class="name">
                    Шаблоны
                </div>
                <div class="value">
                    <select class="templates-list" name="templates_list">
                        {foreach $templates as $template_name => $data}
                        <option value="{$template_name|escape}">{$template_name|escape}</option>
                        {/foreach}
                    </select>  
                    <span><a href="#" class="update-template"><i class="icon16 update"></i>Обновить</a></span>
                    <span><a href="#" class="delete-template"><i class="icon16 delete"></i>Удалить</a></span>

                    <div>

                        <div >
                            <input class="template-name" type="text" name="template_name"/>
                        </div>
                        <div class="template-buttons">
                            <span class="loading-template"><i class="icon16 loading"></i>Загрузка...</span>
                            <a href="#" class="add-template"><i class="icon16 add"></i>Добавить</a>
                            <a href="#" class="save-template"><i class="icon16 add"></i>Сохранить</a>
                            <a href="#" class="с-add-template"><i class="icon16 delete"></i>Отмена</a>
                        </div>

                    </div>
                    <p class="hint">Шаблоны настроек</p>
                </div>
            </div>


            <div class="field">
                <div class="value">
                    <span id="test_button" class="btn btn-success fileinput-button">
                        <span>Тестировать</span>
                        <input class="fileupload" type="file" name="test" />
                    </span>    

                    <span id="update_button" class="btn btn-success fileinput-button">
                        <span>Обновить</span>
                        <input class="fileupload" type="file" name="update" />
                    </span> 
                    <p class="hint">Внимание! В процессе обработки файлов большого объема могут возникать ошибки! </p>        
                </div>
            </div>

            <div id="progress" class="progress" style="width: 400px;">
                <div class="progress-bar progress-bar-success"></div>
            </div>

            <div id="response"></div>
            <div id="html"></div>



        </form>




    </div>
</div>